.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.food-item{
    margin: 20px;
    width: 180px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

.food-item span{
    cursor: pointer;

}